[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root_admin
Group=www-data
WorkingDirectory=/home/root_admin/bacaku
ExecStart=/home/root_admin/bacaku/.venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    perpus.wsgi:application

[Install]
WantedBy=multi-user.target